.slider
  &-img img
    display: block
  &-block
    position: relative
    .container
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      margin: auto
      display: flex
      align-items: center

  &-container
    max-width: 1920px
    width: 100%
    margin: 0 auto
  &-text
    background-image: url("../img/bg-slider-text.png")
    background-repeat: no-repeat
    background-position: center
    position: relative
    width: 730px
    height: 396px
    left: -63px
    padding: 75px 63px
    box-sizing: border-box
    &-first
      color: #777
      font-size: 14px
      font-weight: bold
      padding: 10px 0
    &-second
      color: #fff
      font-size: 36px
      font-weight: bold
      line-height: 1.5
    .btn
      padding-top: 30px

.section-services
  &-wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 80px
  &-block
    width: 30%
    padding-left: 98px
    box-sizing: border-box
    position: relative
    h3
      line-height: 1
      color: #222
      font-size: 18px
      padding-bottom: 15px
    p
      font-size: 14px
      font-family: $poppins-font
      color: #888888
    &:nth-child(-n+3)
      margin-bottom: 55px
    &:before
      content: ""
      position: absolute
      left: 0
      top: 0
    &.services-6
      &:before
        content: ""
        background-image: url("../img/services-6.png")
        background-repeat: no-repeat
        background-position: center center
        border-right: 1px solid $main-color
        width: 80px
        height: 45px
        position: absolute
    &.services-5
      &:before
        content: ""
        background-image: url("../img/services-5.png")
        background-repeat: no-repeat
        background-position: center center
        border-right: 1px solid $main-color
        width: 80px
        height: 45px
        position: absolute
    &.services-4
      &:before
        content: ""
        background-image: url("../img/services-4.png")
        background-repeat: no-repeat
        background-position: center center
        border-right: 1px solid $main-color
        width: 80px
        height: 45px
        position: absolute
    &.services-3
      &:before
        content: ""
        background-image: url("../img/services-3.png")
        background-repeat: no-repeat
        background-position: center center
        border-right: 1px solid $main-color
        width: 80px
        height: 45px
        position: absolute
    &.services-2
      &:before
        content: ""
        background-image: url("../img/services-2.png")
        background-repeat: no-repeat
        background-position: center center
        border-right: 1px solid $main-color
        width: 80px
        height: 45px
        position: absolute
    &.services-1
      &:before
        content: ""
        background-image: url("../img/services-1.png")
        background-repeat: no-repeat
        background-position: center center
        border-right: 1px solid $main-color
        width: 80px
        height: 45px
        position: absolute

.section-help
  &-wrap
    display: flex
    justify-content: space-between
    padding: 70px 0 90px
  &-block
    width: 23%
    background-color: #ededed
    text-align: center
    padding: 25px 0 65px
    position: relative
    transition: 0.3s
    &:hover
      background-color: $main-color
      transition: 0.3s
      h3,p
        color: #ffffff
    &:before
      content: ''
      background-position: center
      background-repeat: no-repeat
      margin: 0 auto
      width: 105px
      height: 105px
      position: absolute
      left: 0
      right: 0
      bottom: -55px
    &.help-1:before
      background-image: url("../img/help-1.png")
    &.help-2:before
      background-image: url("../img/help-2.png")
    &.help-3:before
      background-image: url("../img/help-3.png")
    &.help-4:before
      background-image: url("../img/help-4.png")
    h3
      color: #222222
      font-size: 42px
      font-weight: 700
      line-height: 1
    p
      color: #222222
      font-size: 14px
      font-weight: 600
      text-transform: uppercase
      line-height: 1
      padding-top: 10px

.section-dop-help
  text-align: center
  .first-text
    color: #888888
    font-size: 20px
    font-weight: 700
  .second-text
    color: #222222
    font-size: 27px
    font-weight: 600
    text-transform: uppercase
    padding-top: 15px

.section-blog
  &-wrap
    padding-top: 50px
    display: flex
    justify-content: space-between
  &-block
    max-width: 372px
    width: 100%
    h3 a
      font-size: 20px
      color: #222222
      padding-bottom: 4px
      text-decoration: none
      border-bottom: 1px solid #e4e4e4
      transition: 0.3s
      &:hover
        color: $main-color
        transition: 0.3s
  .block-timble img
    display: block
    max-width: 100%
  .block-info
    display: flex
    position: relative
    padding: 8px 0
    i
      color: #51dc3c
      padding-right: 5px
    p
      font-family: $poppins-font
      font-size: 12px
      color: #888
      &.block-info-comm
        margin-left: 10px
      &.block-info-date
        background-color: $main-color
        color: #fff
        font-size: 15px
        width: 124px
        height: 42px
        line-height: 42px
        text-align: center
        position: absolute
        bottom: -21px
        right: 22px
  .block-text
    padding-top: 10px
    p
      color: #888888
      font-size: 14px
      font-family: $poppins-font

.section-about
  padding: 90px 0
  background: linear-gradient(-90deg,#2c4e8d 50%,$main-color 50%)
  &-wrap
    display: flex
    align-items: center
  &-text
    .btn
      padding-top: 54px
    .section-title
      padding-left: 75px
      box-sizing: border-box
      text-align: left
      &-border
        background-image: url(../img/Sec-white.png)
        margin: 0
      &-text p
        color: #cccccc
    h2
      color: #ffffff
      font-size: 35px

